extend ./layout
block content
	h1= title
	img(src='http://bit.ly/VqvT6b', width='100', height='100')
	p HAL: What do you think you are doing dave
	p Dave: {{myMessage}}
	h2 Messages
	table.table
		each message in messages
			tr
				td
					a(href='/messages/#{message._id}')=message.content
	form(name="", method="post", action="/messages/create")
		input(type="text", placeholder="New message", name="content")
		button(type="submit") Create New Message