html(ng-app='myApp')
  head
    title= 'Hello World'
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='js/main.js')    
  body(ng-controller='MainCtrl')
    block content