html(ng-app='myApp')
  head
    title= 'STORE'
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/styles/main.css", rel="stylesheet")
  body(ng-controller="MainCtrl")
    
    include ../partials/_header

    block content

    include ../partials/_footer

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js")
    script(src='/lodash/lodash.min.js')
    script(src="/restangular/dist/restangular.min.js")
    script(src='/ui-router/release/angular-ui-router.min.js')    
    script(src="/client/main.js")    
    script(src="/client/abstract-factory.js")    
    script(src="/client/messages/message-factory.js") 
    script(src="/client/messages/message-controller.js") 
